<div>
  <div class="carousel" id="demo-carousel">
    <a class="carousel-item" href="#one!"><img src="../../../assets//products/boy.png"></a>
    <a class="carousel-item" href="#two!"><img src="../../../assets//products/boy-1.png"></a>
    <a class="carousel-item" href="#three!"><img src="../../../assets//products/girl.png"></a>
    <a class="carousel-item" href="#four!"><img src="../../../assets//products/girl-1.png"></a>
    <a class="carousel-item" href="#five!"><img src="../../../assets//products/man-1.png"></a>
  </div>
</div>
<script>
  $(document).ready(function(){
        $('#demo-carousel').carousel();
      });
</script>


