<nav>
  <div class="nav-wrapper" style="background: linear-gradient(to left, #fff, #000);">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href=""><img src="../../assets/icons/facebook_icon.png" alt="facebook_icon"></a></li>
      <li><a href=""><img src="../../assets/icons/instagram_icon.png" alt="instagram_icon"></a></li>
      <li><a style='margin-right: 5rem;'href=""><img src="../../assets/icons/linkedin_icon.png" alt="linkedin_icon"></a></li>
    </ul>
  </div>
</nav>
