<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href=""></a>Laptop</li>
  <li><a href=""></a>Smartphone</li>
  <li><a href=""></a>Tablet</li>
</ul>
<!-- Dropdown Structure -->
<ul id="dropdown2" class="dropdown-content">
  <li><a href=""></a>Apple</li>
  <li><a href=""></a>Samsung</li>
  <li><a href=""></a>Xiaomi</li>
</ul>
<!-- Dropdown Structure -->
<ul id="dropdown3" class="dropdown-content">
  <li><a href=""></a>70%</li>
  <li><a href=""></a>50%</li>
  <li><a href=""></a>30%</li>
</ul>


<nav>
  <div class="nav-wrapper black">
    <ul class="left hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" data-beloworigin="true" href="#!" data-activates="dropdown1">Products<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" data-beloworigin="true" href="#!" data-activates="dropdown2">Brands<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" data-beloworigin="true" href="#!" data-activates="dropdown3">Deals<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>