<!-- Dropdown Structure -->

<ul  id='dropdown1' class='dropdown-content'>
  <li><i class="material-icons left">laptop</i>Product</li>
  <li><i class="material-icons left">smartphone</i>Product</li>
  <li><i class="material-icons left">tablet_mac</i>Product</li>
</ul>

<!-- Dropdown Structure -->
<ul id="dropdown2" class="dropdown-content">
  <li>Brand 1</li>
  <li>Brand 2</li>
  <li>Brand 3</li>
</ul>
<!-- Dropdown Structure -->
<ul id="dropdown3" class="dropdown-content">
  <li>70%</li>
  <li>50%</li>
  <li>30%</li>
</ul>

<nav>
  <div class="nav-wrapper black">
    <ul style='margin-left: 15rem;' class="left hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" data-beloworigin="true" data-hover='true' href="#!" data-activates="dropdown1">Products<i style='margin-left: 0.1rem;' class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" data-beloworigin="true" data-hover='true' href="#!" data-activates="dropdown2">Brands<i style='margin-left: 0.1rem;' class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" data-beloworigin="true" data-hover='true' href="#!" data-activates="dropdown3">Deals<i style='margin-left: 0.1rem;' class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>