
<div class="sideNav" style="width: 300px">
  <nav>
    <div class="nav-wrapper black">
      <a style="margin-left: 2rem; font-size: 25px; letter-spacing: 2px" href="#" class="brand-logo">Shopping Basket</a>
    </div>
  </nav>
  <div style="height: 65%; width: 96%;margin-left: 4%;padding-right: 5%; overflow-y: scroll">
    <div *ngFor="let item of Items">
      <ul>
        <li>
          <div class="col s12 m7">
            <div class="card horizontal">
              <div class="card-image">
                <img src="https://lorempixel.com/120/120/nature/6">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p>{{item.name}}</p>
                  <br>
                  <p>R$: {{item.price}} QNT: 10</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <nav>
    <div style="display: flex;
  align-items: center;
  justify-content: center;" class="nav-wrapper black">
      <a style="letter-spacing: 2px" class="white black-text waves-effect waves-light btn">FINALIZAR</a>
    </div>
  </nav>
</div>

